	
	$prefix: zx-;
	$zxMultipleSelect: '#{$prefix}multiple-select';
	/** 关闭图片的icon */
	@mixin icon-close {
		height: 100%;
		width: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 3;
		cursor: pointer;

		text {
			position: relative;
			background: #fff;
			width: 13px;
			height: 13px;
			border-radius: 50%;
			border: 1px solid #bbb;

			&::before,
			&::after {
				content: "";
				position: absolute;
				left: 20%;
				top: 50%;
				height: 1px;
				width: 60%;
				transform: rotate(45deg);
				background-color: #bbb;
			}

			&::after {
				transform: rotate(-45deg);
			}
		}
	}
	.#{$zxMultipleSelect} {
		position: relative;
		z-index: 999;

		/** 容器部分：属性的声明顺序->定位->盒子填充->颜色->字体->动画->用户->层级*/
		&__container {
			position: relative;
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			box-sizing: border-box;
			padding: 8px 30px 8px 10px;
			border-radius: 4px;
			border: 1px solid rgb(229, 229, 229);
			color: #999;
			font-size: 14px;
			transition: .3s;
			user-select: none;
			z-index: 3;
			
			&-disabled {
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(255, 255, 255, .5);
				cursor: no-drop;
				z-index: 19;
			}

			&-icon {
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				width: 60rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;

				text {
					display: block;
					width: 0;
					height: 0;
					border-width: 12rpx 12rpx 0;
					border-style: solid;
					border-color: #bbb transparent transparent;
					transition: .3s;
				}

				&.disabled {
					cursor: no-drop;

					text {
						position: relative;
						width: 20rpx;
						height: 20rpx;
						border-radius: 50%;
						border: 2px solid #ff0000;
						transition: .3s;
						z-index: 999;

						&::after {
							content: "";
							position: absolute;
							top: 50%;
							left: 0;
							width: 100%;
							height: 2px;
							margin-top: -1px;
							background: #ff0000;
							transform: rotate(45deg);
						}
					}
				}
			}

			&.active &-icon {
				text {
					transform: rotate(180deg);
				}
			}

			/* 删除按钮样式*/
			&-clear {
				@include icon-close;
				position: absolute;
				right: 70rpx;
				top: 0;
				height: 100%;
				width: 15px;
			}

			/* 多选盒子 */
			&-show {
				max-width: 90%;
				display: flex;
				flex: 1;
				width: 0;
				flex-wrap: wrap;

				&-item {
					background: #bbb;
					padding: 2rpx 4rpx;
					margin: 4rpx 10rpx 4rpx 0;
					border-radius: 4rpx;
					color: #fff;
					display: flex;
					flex: 0 0 140rpx;

					&-label {
						flex: 1;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}

					&-icon {
						@include icon-close;
					}

				}
				&-search {
					flex: 1;
					margin-top: 6rpx;
				}
			}
		}
		&__containerselect {
			border: 1px solid #409eff !important;
			box-shadow: 0 3px 3px rgba(64, 158, 255, .1) !important;
		}
		// options部分
		&__options {
			user-select: none;
			position: absolute;
			top: calc(100% + 5px);
			left: 0;
			width: 100%;
			height: 500rpx;
			border-radius: 4px;
			border: 1px solid rgb(229, 229, 229);
			background: #fff;
			padding: 10rpx 0;
			box-sizing: border-box;
			z-index: 9;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

			&-item {
				padding: 0 20rpx;
				box-sizing: border-box;
				cursor: pointer;
				line-height: 2.5;
				transition: .3s;
				font-size: 14px;

				&.active {
					color: #409eff;
					background-color: #f5f7fa
				}

			}
			
			&-noresult {
				padding: 0 10px;
				font-size: 14px;
				color: #999;
			}
			// 新增项目
			&-addnew {
				margin: 16rpx 20rpx 12rpx 20rpx;
				padding-bottom: 16rpx;
				border-bottom: 1px solid #409eff;
				display: flex;
				align-items: center;
				
				&-input {
					font-size: 14px;
					flex: 1;
				}
			}
		}
	}


